<div class="py-2">
  <h2 class="text-sm font-normal text-gray-700 mb-4 uppercase">Newsletter</h2>
  <p class="mb-4">Subscribe to receive updates, access to exclusive deals, and more.</p>
  {% form 'customer' %}
    <div class="mb-4">
      <input
        type="text"
        class="p-3 border"
        name="contact[email]"
        placeholder="E-mail">
    </div>
    <div class="mb-4">
      <button
        id=""
        class="uppercase button-hover-1 z-10 "
        type="submit">
        <span>subscrive</span>
      </button>
    </div>

  {% endform %}


</div>

<style></style>

<script></script>