{% case media.media_type %}
  {% when 'image' %}

    <li class="product-single_media border-2 shadow-sm p-2 rounded li overflow-hidden swiper-slide ">
      {{ media | image_url: width: "300", height: "300" | image_tag: class: " w-full h-[100vw]   overflow-hidden ease-in-out", width: nil, height: nil }}
    </li>
  {% when 'video' %}
    <li class="product-single_media  w-full h-full shadow-sm p-2 rounded overflow-hidden   swiper-slide">
      {{ media | video_tag: controls: true, image_size: '400px', style: 'min-width:300px', class: "w-full h-full " }}
    </li>
  {% when 'external_video' %}
    <li class="product-single_media w-full h-full shadow-sm p-2 rounded overflow-hidden swiper-slide">
      {{ media | external_video_tag: class: 'w-full h-full ' }}
    </li>
  {% when 'model' %}
    <li class="product-single_media border-2 shadow-sm p-2 w-full h-full rounded overflow-hidden swiper-slide">Models</li>
    {% else %}

{% endcase %}