<div
  x-cloak
  x-show="searchBarOpen"
  x-on:click="searchBarOpen = false"
  class="fixed w-full h-full bg-slate-800 bg-opacity-50 z-40 ">

  <div x-on:click.stop class="w-[90vw] border-2 bg-white  rounded-sm mx-auto my-0 max-h-screen overflow-hidden ">
    <div x-on:click.stop class=" flex justify-end ">
      <button x-on:click="searchBarOpen=false" class="px-8 rounded-full py-2 bg-red-600 hover:bg-red-400 text-white uppercase m-2 ">close</button>
    </div>
    {% comment %} search form {% endcomment %}
    <div class="p-4 md:p-8">
      <form action="{{ routes.search_url }}" method="get">
        <input
          style="cursor:text;"
          type="search"
          placeholder="Search"
          name="q"
          class="w-full p-4 border cursor-text ">
      </form>
    </div>
  </div>
</div>