<div class="banner">
  <div class="container">
    <h2 class="text-3xl">banner</h2>
  </div>
</div>
{% schema %}
  {
    "name": "Hero banner",
    "tag": "section",
    "class": "hero-banner",
    "settings": [],
    "presets": [
      {
        "name": "Hero Banner",
        "settings": {}
      }
    ]
  }
{% endschema %}