<div class="contact-form-2  p-8 rounded-lg shadow-lg">
  <div class="container ">
    <div class="max-w-2xl bg-indigo-50 p-4 mx-auto w-full">
      <h2 class="text-center">Contact us</h2>
      {% form 'contact' %}
        <div class="text-red-500 mb-4">
          {{ form.errors | default_errors }}
        </div>
        <div class="names grid grid-cols-1 md:grid-cols-2 gap-4">
          <!-- First Name -->
          <div class="mb-2">
            <input
              placeholder="First Name"
              type="text"
              name="contact[first_name]"
              id="first-name"
              class="w-full px-4 py-2 mt-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500" />
          </div>

          <!-- Last Name -->
          <div class="mb-2">
            <input
              placeholder="Last Name"
              type="text"
              name="contact[last_name]"
              id="last-name"
              class="w-full px-4 py-2 mt-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500" />
          </div>
        </div>
        <div class="phone-emeil grid grid-cols-1 md:grid-cols-2 gap-4">
          <!-- Phone -->
          <div class="mb-2">
            <input
              placeholder="Phone"
              type="tel"
              name="contact[phone]"
              id="phone"
              class="w-full px-4 py-2 mt-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500" />
          </div>

          <!-- Email -->
          <div class="mb-2">
            <input
              placeholder="Email"
              type="text"
              name="contact[email]"
              id="email"
              class="w-full px-4 py-2 mt-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500" />
          </div>
        </div>
        <div class="order-number-message grid grid-cols-12  gap-4">
          <!-- Order Number -->
          <div class="mb-2 col-span-12 md:col-span-4">
            <input
              placeholder="Order Number"
              type="text"
              name="contact[order_number]"
              id="order-number"
              class="w-full px-4  py-2 mt-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500" />
          </div>

          <!-- Message -->
          <div class="mb-2 col-span-12 md:col-span-8">
            <textarea
              placeholder="Write Your Message"
              name="contact[body]"
              id="message"
              class="w-full px-4 py-2 mt-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500"></textarea>
          </div>
        </div>
        <!-- Submit Button -->
        <div class="mb-2">
          <input
            type="submit"
            value="Send"
            class="w-full py-3 bg-indigo-600 text-white font-semibold rounded-lg shadow-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500" />
        </div>
      {% endform %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Contact From 2",
    "tag": "section",
    "class": "contact-form-2-wrapper",
    "settings": [],
    "presets": [
      {
        "name": "Contact From 2",
        "settings": {}
      }
    ]
  }
{% endschema %}