<footer class="w-full bg-base-200">
  <div class="container">
    <div class="footer  text-base-content p-10">

      <aside>
        {% render 'icon-hash' %}
        <p>
          ACME Industries Ltd.
          <br/>
          Providing reliable tech since 1992
        </p>
      </aside>
      <nav>
        <h6 class="footer-title">Services</h6>
        <a class="link link-hover">Branding</a>
        <a class="link link-hover">Design</a>
        <a class="link link-hover">Marketing</a>
        <a class="link link-hover">Advertisement</a>
      </nav>
      <nav>
        <h6 class="footer-title">Company</h6>
        <a class="link link-hover">About us</a>
        <a class="link link-hover">Contact</a>
        <a class="link link-hover">Jobs</a>
        <a class="link link-hover">Press kit</a>
      </nav>
      <nav>
        <h6 class="footer-title">Legal</h6>
        <a class="link link-hover">Terms of use</a>
        <a class="link link-hover">Privacy policy</a>
        <a class="link link-hover">Cookie policy</a>
      </nav>

    </div>
  </div>
</footer>


{% schema %}
  {
    "name": "Footer",
    "tag": "section",
    "class": "footer",
    "settings": [
      {
        "type": "range",
        "id": "padding_top",
        "label": "Padding top",
        "default": 30,
        "min": 10,
        "max": 100,
        "step": 5
      },
      {
        "type": "range",
        "id": "padding_botton",
        "label": "Padding top",
        "default": 30,
        "min": 10,
        "max": 100,
        "step": 5
      },
      {
        "type": "range",
        "id": "margin_top",
        "label": "Padding top",
        "default": 30,
        "min": 10,
        "max": 100,
        "step": 5
      },
      {
        "type": "range",
        "id": "margin_botton",
        "label": "Padding top",
        "default": 30,
        "min": 10,
        "max": 100,
        "step": 5
      }
    ]
  }
{% endschema %}