<div class="">
  <div class="text-3xl py-8 bg-blue-800 text-red-400 text-center">
    Page Not Found
  </div>
  <a class="m-8 text-blue-400 underline cursor-pointer block" href="{{ routes.root_url }}">
    Back to home page
  </a>
</div>

{% schema %}
  {
    "name": "404 Full Width",
    "tag": "section",
    "settings": [],
    "presets": [
      {
        "name": "404 Full Width"
      }
    ]
  }
{% endschema %}