<div class="template-list-collections">
  <div class="container">
    <h2 class="text-4xl">
      {{ section.settings.title }}
    </h2>
    <div class="my-8">
      {% paginate collections by 8 %}
        <ul class="grid gap-4 grid-cols-1 md:grid-cols-3 lg:grid-cols-4">
          {% assign sorted_collection = collections | sort: 'title' %}
          {% for collection in sorted_collection %}
            {% if collection.all_products_count > 0 %}
              <li>
                {% render 'collection-card'
                  , collection: collection %}
              </li>
            {% else %}
              <li class="col-span-1">
                {% render 'collection-card'
                  , collection: collection %}
              </li>
            {% endif %}

          {% else %}
            {% for item in (1..6) %}
              <li>
                {% render 'collection-card-placeholder' %}
              </li>
            {% endfor %}
          {% endfor %}
        </ul>

        {% render 'pagination'
          , paginate: paginate
          , class: 'mt-8 mb-8' %}
      {% endpaginate %}

    </div>
  </div>
</div>

{% schema %}
  {
    "name": "All Collection",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Section Title"
      }
    ],
    "presets": [
      {
        "name": "All Collection",
        "settings": {}
      }
    ]
  }
{% endschema %}