<div class="reset-password">
  <div class="contaner">
    <div class="customer_form_layout">
      <h2 class="text-center text-3xl">
        Reset Your Password
      </h2>
      <div class="my-3">

        {% form 'reset_customer_password'
        %}
          {% if form.errors %}
            <div class="bg-warning">
              {{ form.errors | default_errors }}
            </div>
          {% endif %}
          <div class="form my-3">
            <label class="" for="">Password</label>
            <div class="relative">
              <input
                class="login_input"
                type="password"
                name="customer[password]">
              <span class="absolute top-[25%] right-1" id="reset_password_show1">
                {% render "icon-eye-close"
                  , class: "w-6 h-6 cursor-pointer font-bold" %}
              </span>
              <span class="absolute top-[25%] right-1" id="reset_password_hide1">
                {% render 'icon-eye'
                  , class: "w-6 h-6 cursor-pointer font-bold" %}
              </span>
            </div>
          </div>
          <div class="form my-3">
            <label class="" for="">Password</label>
            <input
              class="login_input"
              type="password"
              name="customer[password_confirmation]">
          </div>
          <div class="my-3">
            <button type="submit" class="w-full btn btn-neutral">Reset Password</button>
          </div>

        {% endform %}
      </div>
    </div>
  {% comment %} contact form {% endcomment %}
  </div>
</div>