<div class="template-product">
  <div class="container">
    <div class="product_wrapper grid grid-cols-1 md:grid-cols-2 gap-4 overflow-hidden">
      {% comment %} product images {% endcomment %}
      <div class="product_medias sticky">
        <div class="featured_image mb-4">
          {{ product.featured_image | image_url: width: "600", height: "600" | image_tag: class: "w-full h-full" }}

        </div>
        <div class="hidden md:grid md:grid-cols-2 md:gap-2">
          {% for media in product.media %}
            {% render "product-media"
              , media: media %}
          {% endfor %}

        </div>
        {% comment %} mobile product slider {% endcomment %}
        <div class="block md:hidden">
          <div class="swiper mySwiper">
            <ul class="swiper-wrapper h-94">
              {% for media in product.media %}
                {% render 'product-media-mobile'
                  , media: media %}
              {% endfor %}
            </ul>
            <div class="swiper-scrollbar"></div>
          </div>
        </div>

      </div>
      {% comment %} product info {% endcomment %}
      <div class="product_infomation">
        <h2 class="text-3xl font-semibold ">
          {{ product.title }}</h2>
      </div>
    </div>
  </div>
</div>

<script src="{{ "swiper-bundle.min.js" |  asset_url }}"></script>

<script>
   var swiper = new Swiper(".mySwiper", {
      scrollbar: {
        el: ".swiper-scrollbar",
        hide: false,
      },
    });
</script>