<div class="product-template-2">

  <div class="container">
    <h2 class="text-3xl text-center border-b-2 py-2">
      templateName: {{ template.name }}--{{ product.title }}</h2>
    {% comment %} #product-template 2  {% endcomment %}
    <div class=""></div>

  </div>
</div>

{% schema %}
  {
    "name": "Product template 2",
    "tag": "section",
    "class": "",
    "settings": [],
    "presets": [
      {
        "name": "Product template 2",
        "settings": {}
      }
    ]
  }
{% endschema %}