<div class="template-list-collections">
  <div class="container">
    <h2 class="text-4xl">
      template-list-collections
    </h2>
    <div class="my-8">
      {% paginate collections by 8 %}
        <ul class="grid gap-4 grid-cols-1 md:grid-cols-3 lg:grid-cols-4">
          {% for collection in collections %}
            <li>
              {% render 'collection-card'
                , collection: collection %}
            </li>
          {% endfor %}
        </ul>

        {% render 'pagination'
          , paginate: paginate
          , class: 'mt-8 mb-8' %}
      {% endpaginate %}

    </div>
  </div>
</div>