<div class="template-product">
  <div class="container">
    <div class="product_wrapper grid grid-cols-1 md:grid-cols-2 gap-4">
      {% comment %} product images {% endcomment %}
      <div class="product_image">iamge</div>
      {% comment %} product info {% endcomment %}
      <div class="product_info">
        <h2 class="text-3xl font-semibold ">
          {{ product.title }}</h2>
      </div>
    </div>
  </div>
</div>