<style>
  .product_infomation {
    height: fit-content;
  }


</style>

<div class="template-product">

  <div class="container">
    {% comment %} template name {% endcomment %}
    {{ template.name }}
      <div class="product_wrapper grid grid-cols-1 md:grid-cols-2 gap-4 ">
      {% comment %} #product images {% endcomment %}
      <div class="product_medias">
        <div class="featured_image mb-4">
          {{ product.featured_image | image_url: width: "600", height: "600" | image_tag: class: "w-full h-full" }}
        </div>
        {% comment %} deskto product view {% endcomment %}
        <div class="hidden md:grid md:grid-cols-2 md:gap-2">
          {% for media in product.media %}
            {% render "product-media"
              , media: media %}
          {% endfor %}

        </div>
        {% comment %} mobile product slider {% endcomment %}
        <div class="block md:hidden">
          <div class="swiper mySwiper">
            <ul class="swiper-wrapper h-94">
              {% for media in product.media %}
                {% render 'product-media-mobile'
                  , media: media %}
              {% endfor %}
            </ul>

            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-scrollbar"></div>
          </div>
        </div>

      </div>
      {% comment %} product info {% endcomment %}
      <div class="product_infomation sticky top-4">
        <div class="">
          {% render 'product-info-form1'
            , section: section
            , product: product %}
        </div>
      </div>
    </div>
  </div>
</div>

<script defer src="{{ "swiper-bundle.min.js" |  asset_url }}"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
    var swiper = new Swiper(".mySwiper", {
      scrollbar: {
        el: ".swiper-scrollbar",
        hide: false,
      },
      navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
  },
    });
  });
</script>

{% schema %}
  {
    "name": "Product template-1",
    "tag": "section",

    "settings": [],
    "blocks": [
      {
        "type": "vendor",
        "name": "Vendor",
        "limit": 2
      },
      {
        "type": "title",
        "name": "Title",
        "limit": 1
      },
      {
        "type": "price",
        "name": "Price",
        "limit": 1
      },
      {
        "type": "variant_selector",
        "name": "Variant Selector",
        "limit": 1
      },
      {
        "type": "quntity",
        "name": "Quantity",
        "limit": 1
      },
      {
        "type": "description",
        "name": "Description",
        "limit": 1
      },
      {
        "type": "checkout_button",
        "name": "Checkout Button",
        "limit": 1
      }
    ],
    "presets": [
      {
        "name": "Product template-1",
        "settings": {}
      }
    ]
  }
{% endschema %}